<%= turbo_frame_tag "modal" do %>
  <div class="bg-white shadow rounded-lg p-4">
    <h2 class="text-xl font-semibold mb-4">Datos del usuario</h2>
    
    <h1>Sign Up</h1>
    <%= form_with(url: signup_path, local: true) do |f| %>
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>
      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>
      <div class="field">
        <%= f.label :address %>
        <%= f.text_field :address %>
      </div>
      <div class="field">
        <%= f.label :phone %>
        <%= f.text_field :phone %>
      </div>
      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
  </div>
<% end %>